.form {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid #2f2828;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

.formTitle {
    font-size: 14px;
    color: #413737;
}

.formInput {
    width: 200px;
    border: 2px solid #312c2c;
    border-radius: 8px;
    outline: transparent;
    padding: 8px;
    transition: border-color 300ms ease;
}

.formInput:focus {
    border-color: #742020;
    background-color: transparent;
}

.errorMassage {
    font-size: 8px;
    text-transform: uppercase;
    color: #e02e2e;
}

.formBtn {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: #701212;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px;
    margin: 0 auto;
    transition: background-color 300ms ease;
}

.formBtn:hover,
.formBtn:focus {
    background-color: #701212;
}