.userMenu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menuBtn {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #8f1717;
    -webkit-box-shadow: 0px 0px 17px -3px rgba(85, 13, 107, 1);
    -moz-box-shadow: 0px 0px 17px -3px rgba(85, 13, 107, 1);
    box-shadow: 0px 0px 17px -3px rgba(85, 13, 107, 1);
    border-radius: 10px;
    background-color: transparent;
    color: #8f1717;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px;
    transition: border-color 300ms ease, color 300ms ease;
}

.menuBtn:hover,
.menuBtn:focus {
    color: #672858a9;
    border-color: #6b1111;
}