.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link {
    color: #8f1717;
    transition: color 300ms ease-in-out;
}

.link:hover,
.link:focus {
    color: #672858a9;
}